body 
{
    font-family: Arial;
    background: white;
    margin: 0;
    padding: 20px;
    background-color: white;
}

.heading 
{
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline;
}

.box1 
{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.card
{
    background: white;
    width: 250px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid black;   
}

.card button {
    margin-top: 10px;
    padding: 10px 50px;
    background: blue;
    color: white;
    border: none;
    border-radius: 4px;
}
.card:hover{
    background-color: aqua;
    transform: translateY(-5px);
    box-shadow: 0 5px 25px black;
   
    
}
button:hover
{
    background-color: green;
    color: wheat;
    cursor: pointer;
}

.sub-heading 
{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 25px;
}

table 
{
    width: 100%;
    background: lightgrey;
    box-shadow: 0 10px 20px black;
}

table th {
    background: lightblue;
    color: black;
    padding: 10px;
    text-align: left;

}

table td {
    padding: 10px;
    border-bottom: 1px solid black;
}
table tr
{
        background-color: white;
}


img
{
    height: 200px; 
    width: 200px;
}