     * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: white;
            color: #333;
        }

        
        nav 
        {
            background-color: blue;
            padding: 10px 20px;
        }

        nav ul {
            list-style: none;
            display: flex;
            justify-content: flex-start;
        }

        nav ul li {
            margin-right: 20px;
        }

        nav ul,li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

        nav ul li a:hover 
        {
            text-decoration: underline;
        }
        footer p{
            text-decoration: none;
        }
        footer p:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        header {
            text-align: center;
            padding: 40px 20px;
            background-color: #e2e2e2;
        }

        header h1 {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }

       
        section {
            max-width: 700px;
            margin: 20px auto;
            padding: 20px;
            background: white;
            border-radius: 8px;
            box-shadow: 0 0 20px black;
        }

        section h2 
        {
            margin-bottom: 20px;
            color: blue;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        form label
         {
            margin-bottom: 5px;
            font-weight: bold;
        }

        form input, form textarea 
        {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid black;
            border-radius: 5px;
            font-size: 1rem;
        }

        form button {
            padding: 10px;
            border: none;
            background-color: green;
            color: white;
            font-size: 1rem;
            border-radius: 5px;
            cursor: pointer;
        }

        form button:hover {
            background-color: navy;
        }

        
        footer {
            background-color: blue;
            color: white;
            text-align: center;
            padding: 15px;
            margin-top: 20px;
        }

        footer a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

        footer a:hover {
            text-decoration: underline;
        }

        .contact-info {
            margin-bottom: 20px;
            padding: 10px;
            background-color: white;
            border-radius: 5px;
        }

        .contact-info p {
            margin-bottom: 5px;
        }