     body {
            font-family: Arial;
            background: white;
        }

        .outer-box {
            width: 350px;
            margin: 55px auto;
            padding: 30px;
            background: white;
            border-radius: 20px;
            box-shadow: 0 0 15px black;
        }

        h2 {
            text-align: center;
            color: purple;
            margin-bottom: 25px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 8px;
            border: 1px solid grey;
        }

        button {
            width: 100%;
            padding: 10px;
            background: palevioletred;
            color: black;
            font-size: 16px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
        }

        button:hover 
        {
            background: pink;
        }

        p {
            text-align: center;
        }

        a {
            display: block;
            text-align: center;
            width: 100%;
            color: blue;
        }

        #Usr {
            display: block;
            margin: 0 auto;
            width: 80%;
            padding: 12px;
            border-radius: 8px;
            margin-bottom: 10px;
            margin-top: 5px;
            text-align: center;
        }